html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.call-buttons button {
    display: block;
    margin: 2px auto;
}

.floor-buttons button {
    display: block;
    margin: 4px 0;
}

.bordered {
    border: 1px solid #000;
}